@model TangentWeb.Models.TangentItem

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>TangentItem</legend>

    <img src="@Html.DisplayFor(model => model.ImageUrl)" />  

    <div class="display-field">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
    </div>
    
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.PosterId)
    </div>

    <div class="display-field">
       <p>@Html.DisplayFor(model => model.Text)</p>
    </div>

   @* <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Visibility)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Visibility)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PosterImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PosterImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeviceToken)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeviceToken)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OriginalUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OriginalUrl)
    </div>*@
</fieldset>
<p>
@*    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
