@model TangentWeb.Models.TangentItem

@using TangentWeb.Utils;

@{
    ViewBag.Title = "Details";
}

@section Scripts {

    <script type="text/javascript">

        @functions
        {            
            public string TokenHeaderValue()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + ":" + formToken;
            }
        }

        function DeleteTangent (id) {
            var deleteUrl = "/api/tangents/" + id;
            $.ajax({
                type: "DELETE",
                url: deleteUrl,
                success: function () {
                    window.location.replace("/");
                },
                headers: {
                    'RequestVerificationToken': '@TokenHeaderValue()'
                        }
                    });
        }

        $(function () {
            var then = $('#published');

            var utcDate = parseInt(then.attr('data-date'), 10) || 0;
            var local = moment.utc(utcDate).local();

            var formattedDate = local.format("MMM D YYYY, h:mm:ss a");
            then.text(formattedDate);
        });
    
    </script>
}


<div class="crop">
    <img src="@Html.DisplayFor(model => model.ImageUrl)" />  
</div>


<div class="tangentTitleDetailView">@Html.DisplayFor(model => model.Title)</div>
<div class="tangentAboutDetailView"><span id="published" data-date="@Model.Date.GetEpochTicks()"></span> by <span>@Html.DisplayFor(model => model.PosterId)</span></div>

<div class="tangentTextDetailView">
    <span>@Html.DisplayFor(model => model.Text)</span>
</div>

@if (Request.IsAuthenticated && (User.Identity.Name == Model.PosterId))
{
    <a href="javascript:void(0);" onclick="DeleteTangent(@Html.DisplayFor(model => model.id))" class="removeTangent ui-state-default ui-corner-all">Remove</a>
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
